{% extends 'base.html.twig' %}

{% block body %}
    {{ include('partial/header.html.twig') }}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Project: "{{ info.project.name }}"</h1>
                <hr />

                {% if info.newMessages|length %}
                    <h2>New Messages</h2>
                    {% include 'partial/messages.html.twig' with {messages: info.newMessages}  %}
                {% endif %}

                <h2>Existing Messages</h2>
                {% include 'partial/messages.html.twig' with {messages: info.existingMessages}  %}

            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ asset('js/script.js') }}" type="text/javascript"></script>
{% endblock %}