{% extends 'base.html.twig' %}

{% block body %}
    {{ include('partial/header.html.twig') }}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Add New Translation File</h1>

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" class="btn btn-primary" value="Upload" />
                {{ form_end(form) }}

            </div>
        </div>
    </div>
    
{% endblock %}
